:root {
    --secondSize: 1.8rem !important;
    --hideSize: 1rem !important;
}

.section-0 {
    transform: translateY(0%);
}

.section-1,
.section-2 {
    transform: translateY(-33%);
    transition: all;
    transition-duration: 500ms;
}

.section-3 {
    transform: translateY(-66%);
    transition: all;
    transition-duration: 500ms;
}

/*--- Hello Animation --*/

.hello-1,
.hello-2 {
    font-size: var(--secondSize);
    transition: all;
    transition-duration: 500ms;
}

.hello-3 {
    font-size: var(--hideSize);
    opacity: 0;
    transition: all;
    transition-duration: 500ms;
}

/*--- Welcome Animation ---*/

.welcome-0 {
    opacity: 0;
    transform: translateX(50%);
}

.welcome-1 {
    transform: translateX(50%);
    opacity: 100;
    transition: all;
    transition-duration: 500ms;
    transition-delay: 500ms;
}

.welcome-2 {
    transition: all;
    transition-duration: 500ms;
}

.welcome-3 {
    font-size: var(--secondSize);
    transition: all;
    transition-duration: 500ms;
}

/*--- My website Animation ---*/

.my-website-0,
.my-website-1 {
    opacity: 0;
}

.my-website-2 {
    opacity: 100;
    transition: all;
    transition-duration: 500ms;
    transition-delay: 500ms;
}

.my-website-3 {
    font-size: var(--secondSize);
    transition: all;
    transition-duration: 500ms;
}

/*--- Name Animation ---*/

.name-0,
.name-1,
.name-2 {
    opacity: 0;
}

.name-3 {
    opacity: 100;
    transition: all;
    transition-duration: 500ms;
    transition-delay: 500ms;
}